@(message: String)(chats: Seq[Chat])

@main("Chat App") {
    <h1>@message</h1>
    @chats.sortBy(_.occurrence).groupBy(_.date.toDate).toSeq.sortBy(_._1).map { dateAndChats =>
        <div class="date">
            <h2>-- Chat @dateAndChats._1 --</h2>
            @dateAndChats._2.map { chat =>
                @listContainer{
                    <h3>-- Chat #@chat.occurrence --</h3>
                }(chat) {
                    <hr/>
                }
            }
        </div>
    }
}
