@(header: Html)(chat: Chat)(footer: Html)

@import models.Item

<div style="margin-left: @{5*chat.occurrence}%">
    @header
    <ul>

        @chat.items.map { item => @listItem(item)}

    </ul>
    @footer
</div>
